
@page {
  size: 400px 230px !important; /* Business card size */
  margin: 0; /* No margins for the printed page */
}

@media print {
  body {
    
    margin: 0; /* No margins for the printed content */
    background: none; /* No background color or image for the printed content */
  }
}