* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.visaPageBox {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 20px;
  
}
.left-box {
 
  background-color: rgb(223, 237, 232);
  width: 100%;
  text-align: center;
}
.right-box {
  background-color: rgb(251, 245, 235);
  width: 100%;
  text-align: center;
}
.left-header {
  margin-top: 20px;
}
.right-header {
  margin-top: 20px;
}
.template-button-box {
  display: flex;
  justify-content: center;
  margin: auto;
 
}
.templateBox {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
}
